.content {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  padding: 20px;
  background: #eae7e7;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: grey;
}

.description-container {
  width: 75%;
  padding: 20px;
}